@keyframes animation1 {
    0% {
        top: 0;
        left: 0;
        right: 80%;
        bottom: 80%;
    }
    25% {
        top: 0;
        left: 80%;
        right: 0;
        bottom: 80%;
    }
    50% {
        top: 80%;
        left: 80%;
        right: 0;
        bottom: 0;
    }
    75% {
        top: 80%;
        left: 0;
        right: 80%;
        bottom: 0;
    }
    100% {
        top: 0;
        left: 0;
        right: 80%;
        bottom: 80%;
    }
}
@keyframes animation2 {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(-90deg)
    }
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
}

section {
    width: 80%;
    height: 80%;
    position: relative;
    border: thick solid red;
    transform-style: preserve-3d;
}
.backg {
    width: 200px;
    height: 200px;
    background-color: aqua;
    animation: animation1 4s ease 0s infinite, animation2 1s ease 0s infinite;
    position: absolute;
}










/* section {
    width: 175px;
    height: 244px;
    position: relative;
    transition: 2s ease all;
    transform-style: preserve-3d;
}
div {
    position: absolute;
    backface-visibility: hidden;
}
.div1 {
    width: 175px;
    height: 244px;
    background: url("../Image20230612105400.png") no-repeat;
    transform: rotateX(180deg);
}
.div2 {
    width: 175px;
    height: 244px;
    background: url("../Image20230612105346.png") no-repeat;
}
section:hover {
    transform: rotateX(180deg);
}
section:active {
    transform: rotateZ(180deg);
}
.div1:active{
    transform: rotateZ(180deg);
}
div:active {
    backface-visibility: visible;
} */