@keyframes anim1 {
	0% {
		top: 0; left: 0;
	}
	25% {
		top: 0; left: 1100px;
	}
	50% {
		top: 500px; left: 1100px;
	}
	75% {
		top: 500px; left: 0;
	}
	100% {
		top: 0; left: 0;
	}
}

@keyframes anim2 {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(90deg);
	}
}
@keyframes anim3 {
	0% {
		background-color: hotpink;
	}
	100% {
		background-color: yellow;
	}
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


html {
	font-size: 16px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}


section {
	width:1200px;
	height: 600px;
	margin: 50px auto;
	background-color: #000;
	position: relative;
}

div {
	width: 100px;
	height: 100px;
	background-color: hotpink;
	position: absolute; top: 0; left: 0;
	animation: anim1 4s linear 0s infinite, anim2 0.25s linear 0s infinite, anim3 4s linear 0s alternate infinite;
}










