div {
    width: 900px;
}
h1 {
    background-color: green;
    color: white;
    padding: 10px;
}
img {
    width: 100%;
}
h3 {
    color: red;
}
iframe{
    width: 100%;
}
span {
    text-transform: uppercase;
    color: blue;
}
a {
    color: green;
}
a:hover {
    background-color: #f0f0f0;
    color: rgb(73, 106, 22);
}