* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 16px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}
#sec-1{
    background: url("../images/banner.jpg") no-repeat center center /cover;
}
#sec-1 header{
    background-color: black;
    padding: 10px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#sec-1 header img{
    height: 30px;
}
#sec-1 header span{
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #fbcd00;
}
#sec-1 nav {
    display: none;
}
#sec-1 section {
    padding: 180px 80px;
}
#sec-1 section h5 {
    font-size: 1.2rem;
}
#sec-1 section h2 {
    font-size: 3rem;
    margin: 10px 0;

}
#sec-1 section h2 strong {
    display: block;
    color: #d37980;
    margin-bottom: 20px;
}
#sec-1 section a, #sec-6 div a, #sec-9 footer div button {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
    color: #000;
}
#sec-2 {
    background-color: #000;
    color: #fbcd00;
    padding: 80px 60px;
}
#sec-2 p {
    padding-top: 10px;
    color: #fff;
    text-align: justify;
}
#sec-3 {
    background-color: #fbcd00;
    padding: 60px 80px;
    text-align: center;
}
#sec-3 a {
    text-decoration: none;
    text-transform: capitalize;
    padding-top: 10px;
    color: #fff;
    font-size: 3rem;
}
#sec-4 {
    padding: 80px 60px;
}
#sec-4 h3 {
    margin-bottom: 40px;
    font-size: 2rem;
    font-weight: 500;
}
#sec-4 section div {
    background-color: #000;
    color: #fff;
    position: relative;
    margin-bottom: 20px;
}
#sec-4 section div img {
    width: 100%;
    height: auto;
}
#sec-4 section div article {
    padding: 10px;
}
#sec-4 section div span {
    position: absolute;
    left: 10px;
    top: 10px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 10px;
}
#sec-4 section div p {
    text-align: justify;
}
#sec-4 section div h4 {
    color: #fbcd00;
}
#sec-5 {
    background-color: #000;
    padding: 40px 60px;
    color: #fbcd00;
}
#sec-5 h3 {
    padding: 40px 0;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
}
#sec-5 div img {
    padding: 20px 0;
    width: 100%;
    height: auto;
}
#sec-6 {
    background-color: #fbcd00;
    color: #fff;
    padding: 60px 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
#sec-6 article h2 {
    padding: 30px 0;
    font-size: 2rem;
}
#sec-6 div, #sec-6 article {
    margin: 5px 0;
}
#sec-7 {
    background-color: black;
    padding: 10px 60px;
    color: #fff;
}
#sec-7 section {
    padding: 20px 0;
}
#sec-7 section img {
    padding: 20px 0;
    width: 100%;
    height: auto;
}
#sec-7 h2 {
    padding: 40px 0 20px 0;
    font-size: 2.5rem;
    font-weight: 500;
}
#sec-8 {
    background: rgba(2, 55, 74, 0.7) url("../images/contactus.jpg") no-repeat center center /cover;
    background-blend-mode: overlay;
    padding: 50px 60px;
}
#sec-8 div article h2 {
    color: #fbcd00;
    padding: 20px 0;
}
#sec-8 div article p {
    color: #fff;
    padding-bottom: 20px;
}
#sec-8 div form  {
    background: rgba(4, 68, 91, 0.6);
    border: 1px solid #fbcd00;
    padding: 20px;
    box-shadow: 0 0 20px #fbcd00;
    border-radius: 10px;
    text-align: center;
}
#sec-8 div form input , #sec-8 div form button {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}
#sec-8 div form button {
    background-color: #fbcd00;
    font-size: 1.2rem;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 4px;
}
#sec-9{
    background-color: #000;
}
#sec-9 article{
    background-color: #fbcd00;
    font-size: 0.8rem;
}
#sec-9 footer section a {
    text-decoration: none;
    display: block;
    color: #fff;
    padding: 5px 0;
}
#sec-9 footer{
    padding: 20px 60px;

}
#sec-9 footer section {
    padding: 0 0 40px 0;
}
#sec-9 footer div button {
    display: block;
    margin-top: 10px;
}
#sec-9 footer div input {
    width: 100%;
    background-color: #000;
    color: #fff;
    border-bottom: 2px solid #fff;
    margin: 10px 0;
    padding: 5px;
    text-transform: capitalize;
}
#sec-9 footer div {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
#sec-9 footer div img {
    width: 19%;
    object-fit: contain;
}

@media (min-width:576px){
    #sec-8 div form  {
        width: 75%;
        margin: 0 auto;
    }
    #sec-9 footer div {
        width: 80%;
    }
}
@media (min-width:768px){ 
    #sec-1 header{
        padding: 10px 60px;
    }
    #sec-1 header nav {
        padding: 10px 0;
        display: flex;
        align-items: center;
    }
    #sec-1 header nav a{
        padding: 5px;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 1.2rem;
    }
    #sec-1 header nav div a{
        padding: 10px 5px;
        text-decoration: none;
        color: #fff;
        border: none;
    }
    #sec-4 section  {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    #sec-4 section div {
        width: 48%;
    }
    #sec-5 div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #sec-5 div img {
        padding:  15px 0;
        width: 48%;
        height: auto;
    }
    #sec-7 section div {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    #sec-7 section div article {
        width: 49%;
    }
    #sec-9 footer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    #sec-9 footer section {
        width: 40%;
    }
    #sec-9 footer div {
        width: 60%;
    }
}
@media (min-width:992px){
    #sec-2, #sec-3, #sec-4, #sec-5, #sec-6, #sec-7, #sec-8{
        padding: 60px 100px;
    }
    #sec-1 header{
        padding: 10px 100px;
    }
    #sec-1 section{
        padding: 180px 100px;
    }
    #sec-1 header nav div a{
        padding: 0 20px;
    }
    #sec-4 section div {
        width: 30%;
    }
    #sec-5 div img {
        padding:  15px 0;
        width: 23%;
        height: auto;
    }
    #sec-6 div, #sec-6 article {
        margin: 5px 40px;
    }
    #sec-7 section {
        display: flex;
        justify-content: space-between;
    }
    #sec-7 section div {
        width: 45%;
    }
    #sec-7 section img {
        width: 45%;
    }
    #sec-8 div {
        display: flex;
        justify-content: space-between;
    }
    #sec-8 div article {
        width: 55%;
    }
    #sec-8 div form  {
        width: 40%;
    }
    #sec-9 footer section {
        width: 25%;
    }
    #sec-9 footer {
        padding: 50px 100px;
    }
    #sec-9 footer div {
        width: 35%;
        padding-right: 60px;
    }
}
@media (min-width:1200px){
    #sec-6 div, #sec-6 article {
        margin: 5px 60px;
    }
    #sec-8 div article {
        width: 60%;
    }
    #sec-8 div form  {
        width: 35%;
    }
    #sec-9 footer div  {
        width: 35%;
        padding-right: 100px ;
    }
}
@media (min-width:1400px){
    #sec-9 footer div  {
        width: 35%;
        padding-right: 200px ;
    }
}